*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonte1;
    src: url('fontes/Garet-Book.otf');
}

@font-face {
    font-family: fonte2;
    src: url('fontes/CaviarDreams.ttf');
}

body{
    background-color: #ffddff;
}

.img2{
    height: 700px;
    padding-top: 10%;
}

.img1{
    height: 700px;
    padding-top: 10%;
}


body{
    background-color: #ffddff;
}

.radio{
    font-family: fonte1;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: fonte1;
}

.form{
    border-radius: 50px;
    
    border: 10px solid #8C69BC;
}

.formulario{
    margin-left: 10px;
}

.legend{
    font-size: 22px;
    font-family: fonte1;
}

label{
    font-size: 18px;
}

.caixa-resposta{
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #a97fb7;
    width: 350px;
    height: 35px;
}
.conteudo{
    display: flex;
}

#igenero{
    background-color: #8C69BC;
<<<<<<< HEAD
}

#linha{
    display: inline;
}

.form_login{
    border-radius: 50px;
    margin-left: 500px;
    margin-right: 500px;
    border: 10px solid #8C69BC;
}