body {
   background-color: #FFDDFF;
  
  
}.botao {
      display: block;
      width: 160px;
      height: 40px;
      line-height: 40px;
      padding: 10px 5px;
      margin: 20px;
      background-color: #B67AE0;
      color: white;
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      font-family: Arial;

} .cabecalho {
  text-align: center;
}
  .menu {
     width: 100%;
     background-color: #8C69BC;
     padding-bottom: 20px;
 }
 
 .menu li {
     display: inline-block;
     padding: 5px;
 }
 
 
 .menu li a {
     color: white;
     font-size: medium;
     padding: 30px;
     text-decoration: none;
 }
 
 .submenuProdutos {
     position: absolute;
     display: none;
     background-color: #8C69BC;
 
 }
 
 .submenuCategorias {
     position: absolute;
     display: none;
     background-color: #8C69BC;
 
 }
 
 .submenuServicos {
     position: absolute;
     display: none;
     background-color: #8C69BC;
 
 }
 
 .submenuContatos {
     position: absolute;
     display: none;
     background-color: #8C69BC;
 
 }
 
 .submenuProdutos a {
     display: block;
 
 }
 
 .submenuCategorias a {
     display: block;
 
 }
 
 .submenuServicos a {
     display: block;
 
 }
 
 .submenuContatos a {
     display: block;
 
 }
 
 
 .menuProdutos:hover .submenuProdutos {
     display: block;
 
 }
 
 .menuCategorias:hover .submenuCategorias {
     display: block;
 
 }
 .menuServicos:hover .submenuServicos {
     display: block;
 
 }
 .menuContatos:hover .submenuContatos {
     display: block;
 
 }
 

.Cadastrar {
  background-color: #B67AE0;
  font-size: x-large;
  
} .Login {
  background-color: #B67AE0;
  font-size: x-large;
  
} label {
  font-size: x-large;
  
} h1 {
  font-size: small;
  } 