*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fonte1;
    src: url('fontes/Garet-Book.otf');
}

@font-face {
    font-family: fonte2;
    src: url('fontes/CaviarDreams.ttf');
}

body{
    background-color: #ffddff;
}

 .img2{
   
}

.img1{
   
} 



.legend{
    font-size: 22px;
    font-family: fonte1;
}

.caixa-resposta{
    border-radius: 50px;
    border: none;
    font-size: 15px;
    background-color: #a97fb7;
    width: 350px;
    height: 35px;
}

h1{
    font-size: 70px;
    text-align: center;
    font-family: fonte1;
}

.form_login{
    border-radius: 50px;
    /*margin-left: 500px;
    margin-right: 500px;*/
    border: 10px solid #8C69BC;
}

.formulario{
    margin-left: 10px;
}
.conteudo{
    display: flex;
    } 
    .botao {
        display: block;
        width: 160px;
        height: 40px;
        line-height: 40px;
        padding: 10px 5px;
        margin: 20px;
        background-color: #B67AE0;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-family: Arial;
    
    }