@font-face{ 
   font-family: Adorage;
    src: local(Adorage), url("fontes/DMSerifDisplay-Regular.ttf");
 }
 @font-face{
    src: local(Sla), url("fontes/Calistoga-Regular.ttf");
    font-family: Sla;
 }

 @font-face {
  font-family: fonte3;
  src: url('fontes/Ramisland.otf');
}

@font-face {
  font-family: fonte2;
  src: url('fontes/Classyvogueregular.ttf');
}

@font-face {
  font-family: fonte4;
  src: url('fontes/CinzelDecorative-Regular.ttf');
}

body {
    
    background-color: #FFDDFF;
  }
  
  nav {
    display: flex;
    align-items: center;
    background-color: none;
    padding: 10px;
  }
  
  .title {
    margin-right: auto;
    font-weight: bold;
    font-size: 35px;
    font-family: fonte4;
    margin-left: 40px;
  }
 
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;
  }
  
  nav ul li {
    margin-right: 10px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 8px 15px;
    border: 1px none #ccc;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  nav ul li a:hover {
    background-color: #09043C;
    color: white;
  }
  .img1{
    display: block;
    float: right;
    height: 500px;
    padding-left: 20%;
    padding-top: 2%;
    margin-right: 150px;
    
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBA1D7;
    color: white;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    border-radius: 20px;
    margin-top: 5px;
  }
 
  .links {
    display: flex;
    margin-left: 30px;
}

.links a {
    margin-right: 5px; /* Espaço entre os links (opcional) */
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    color: white;
    margin-left: 60px;
    margin-bottom: 40px;
    font-family: Arial;
    width: 160px;
    line-height: 40px;
    text-align: center;
    padding: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #09043C;
    font-size: 25px;
}
.links a:hover{
    background-color: #FBA1D7;
    color: black;
}

  h1{
    margin-top: 130px;
    padding-left: 80px;
    font-family: fonte3;
    font-size: 60px;
  }
  h2{
    font-size: 22px;
    text-align:justify;
    width: 500px;
    padding-left: 80px;
    font-family: fonte2;
    font-style: normal;
    color: #000000bd;
  }
  
  .dropdown-content li {
    display: block;
    border-bottom: 1px none #ccc;
    margin-left: 20px;
  }
  
  .dropdown-content li:last-child {
    border-bottom: none;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #09043C;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  